<div style="text-align-last:center; color:darkolivegreen"><h4><button>Invoice Bill</button></h4></div>
<b><hr></b>

<!-- <table class="table table-hover table-bordered "> -->
   <div id="myDIV">
    <table cellpadding="0 cellspacing=0">
    <tr>
        <td>Name:  {{items.invoice.name}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <td>Invoice Number:{{items.invoice.december.invoiceno}}</td><br>
        </tr>

        <tr>
            <td>Flat:  {{items.invoice.block}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <td>Block:{{items.invoice.flat}}</td><br>
            </tr>

            <tr>
                <td>Area:  {{items.invoice.area}}</td>
                </tr>

        <tr>
         <td>Invoice Date:{{items.invoice.december.date}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <td>Payment Due Date:{{items.invoice.december.duedate}}</td><br></tr>

       </table> 
       <b><hr></b>
       <br>
       
       
        <table  class="table table-hover table-bordered "cellpadding="0 cellspacing=0">
           <thead>
            <tr>
                <td colspan="2"> <div style="text-align-last:center; color:rgb(66, 60, 64)"><h5>Monthly Maintenance charges</h5></div></td>
            </tr>

             <tr class="top">
                <td >Description</td>
                <td >Amount</td>
            </tr>
           
        </thead>
        <tbody>
            <!-- *ngIf="items.invoice.january.status=='Paid'">Receipt
    <i class="fa  icon text-danger"
    *ngIf="items.invoice.january.status=='Unpaid'">---</i>  -->

    
            <tr>
                <td >Maintenance charges for december</td>
                <td >{{items.invoice.december.balance}}</td>
            </tr>
            <tr >
               <td>Sub Total</td> 
               <td>{{items.invoice.december.balance}}</td>
            </tr>

        </tbody>
        
        </table>

</div>

<br><br>

<div class="invoice-box">
   
    <table  class="table table-hover table-bordered "cellpadding="0 cellspacing=0">
       <thead>
        <tr>
            <td colspan="2"> <div style="text-align-last:center; color:rgb(66, 60, 64)"><h5>Past Dues</h5></div></td>
        </tr>

        <tr class="top">
            <td >Description</td>
            <td >Amount</td>
        </tr>
       
    </thead>
    <tbody>
        <tr>
            <td >Maintenance charges for october</td>
            <td >{{items.invoice.october.balance}}</td>
        </tr>

        <tr>
            <td >Maintenance charges for november</td>
            <td >{{items.invoice.november.balance}}</td>
        </tr>

        <tr >
           <td>Grand Total</td> 
           <td>{{items.invoice.december.balance+items.invoice.november.due}}</td>
        </tr>

    </tbody>
    
    </table>

</div>
       









