<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm>
                  <h3>verifyEmail</h3>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
        
                  <p class="text-dark">We have already sent to your emailid please verify and login></p>
                 
                    <c-col class="text-right" xs="6">
                        <a class=""routerLink="/login"class="btn-primary"> Login</a>
                    </c-col>
                  </c-input-group>
                </form>
  
  
                