
<form [formGroup]="editForm"(ngSubmit)="onSubmit()"novalidate>
    <div class="row">
        <div class="col-md-4">   
            <div class="form-floating mb-3">
                <label for="id">Name</label><br>
                <input type="text"formControlName="name"class="form-control" id="name" name="name" [(ngModel)]="name"/>
            </div>
        <div class="form-floating mb-3">
            <label for="id">Block</label><br>
            <input type="text"formControlName="block" class="form-control" id="block" name="block"required [(ngModel)]="block"/>
        </div>
        <div class="form-floating mb-3">
            <label for="id">Flat</label><br>
            <input type="text"(change)="changeFlat($event)"formControlName="flat" class="form-control" id="changeFlat" name="block"required [(ngModel)]="flat"/>
        
        </div>
        <div class="form-floating mb-3">
            <label for="id">Status</label><br>
            <input type="text"formControlName="status" class="form-control" id="status" name="status"required [(ngModel)]="status"/>
        </div>
        <div class="form-floating mb-3">
            <label for="id">Sqrft</label><br>
            <input type="text"formControlName="sqrft" class="form-control" id="sqrft" name="sqrt"required [(ngModel)]="sqrft"/>
        </div>
       
        <button type="button" class="btn btn-outline-success btn-sm" (click)="adduser()">Save</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary btn-sm">Update</button>&nbsp;&nbsp;
        <button type="reset" class="btn btn-danger btn-sm">Reset</button>
    </div>
    </div>
    </form>
    
    
    