<div style="text-align:center;color:blue">
    <h2>PaymentYear2021</h2>
    <h4><u>{{items.payinfo2021.monthname}}</u></h4>
    </div>
    <table class="table table-bordered">
      <thead>
              <th>Name</th>
              <th>PaidDate</th>
              <th>Amount</th>
              <th>Block</th>
              <th>Flat</th>
              <th>Status</th>
      </thead>
      <tbody>
        <tr>
        <td>{{items.payinfo2021.user1.name}}</td>
        <td>{{items.payinfo2021.user1.date}}</td>
        <td>{{items.payinfo2021.user1.amount}}</td>
        <td>{{items.payinfo2021.user1.block}}</td>
        <td>{{items.payinfo2021.user1.flat}}</td>
        <td>{{items.payinfo2021.user1.status}}</td>
         </tr>
          <tr>
          <td>{{items.payinfo2021.user2.name}}</td>
          <td>{{items.payinfo2021.user2.date}}</td>
          <td>{{items.payinfo2021.user2.amount}}</td>
          <td>{{items.payinfo2021.user2.block}}</td>
          <td>{{items.payinfo2021.user2.flat}}</td>
          <td>{{items.payinfo2021.user2.status}}</td>
          </tr>
         <tr>
        <td> {{items.payinfo2021.user3.name}}</td>
        <td>{{items.payinfo2021.user3.date}}</td>
        <td>{{items.payinfo2021.user3.amount}}</td>
        <td>{{items.payinfo2021.user3.block}}</td>
        <td>{{items.payinfo2021.user3.flat}}</td>
        <td>{{items.payinfo2021.user3.status}}</td>
         </tr>
    </tbody>
    </table>