.card{
    border:none;
    padding:20px;
    background-color: azure;
    color: white;
}
.contain{
    margin:10rem 0 30rem 0;
}
.form-input{
    position: relative;
    margin-top: 10px;
}
formcontrol{
    height: 50px;
    background-color: white;
    text-indent: 24px;
    font-size: 15px;
}
