<!-- <div class="contain">
  <div class="row d-flex align-items-center justify-content-center">
      <form class="card px-5 py-5">
          <div class="form-input">
          <input type="text"placeholder="phoneNumber"class="form-control"placeholder="Enter Phone Number"[(ngModel)]="phoneNumber"min="10"max="15"name="phoneNumber">
          <button (click)="getOtp()"class="btn btn-success mt-4 signup">Getotp</button>
          <div id="sign-in-button"></div>
      </div> 
      </form>
  </div>                   -->

