<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm>
                  <h3>ForgotPassword</h3>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
  
                    <input type="email" class="form-control" name="email"placeholder="Email"[(ngModel)]="email">
                    <!-- <input autoComplete="email" cFormControl="email" placeholder="Email" type="email"/> -->
  
                  </c-input-group>
        
                  
                  <c-row>
                    <c-col xs="6">
                      <!-- <button routerlink="/dashboard" cButton class="px-4" color="primary" (click)="login()"> -->
                        <button type="text" routerlink="/verifyemail" class="btn btn-primary" (click)="sendlink()">SendLink
                        </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                        <a class=""routerLink="/login"class="btn-primary">Click here Back to Login</a>
                    </c-col>
                  </c-row>
                </form>
  
  
  
                