<div style="text-align:center;color:blue">
<h2>PaymentYear2022</h2>
<h4><u>{{items.month.monthname}}</u></h4>
</div>
<table class="table table-bordered">
  <thead>
          <th>Name</th>
          <th>PaidDate</th>
          <th>Amount</th>
          <th>Block</th>
          <th>Flat</th>
          <th>Status</th>
          
  </thead>
  <tbody>
  <tr>      
<td>{{items.month.user1.name}}</td>
<td>{{items.month.user1.date}}</td>
<td>{{items.month.user1.amount}}</td>
<td>{{items.month.user1.block}}</td>
<td>{{items.month.user1.flat}}</td>
<td>{{items.month.user1.status}}</td>
 </tr>
  <tr>
  <td>{{items.month.user2.name}}</td>
  <td>{{items.month.user2.date}}</td>
  <td>{{items.month.user2.amount}}</td>
  <td>{{items.month.user2.block}}</td>
  <td>{{items.month.user2.flat}}</td>
  <td>{{items.month.user2.status}}</td>
  </tr>
 <tr>
<td> {{items.month.user3.name}}</td>
<td>{{items.month.user3.date}}</td>
<td>{{items.month.user3.amount}}</td>
<td>{{items.month.user3.block}}</td>
<td>{{items.month.user3.flat}}</td>
<td>{{items.month.user3.status}}</td>
 </tr>
 </tbody>
 </table>
 
 <!-- <button type="button"class="btn btn-outline-success"[routerLink]="['/appartment1/image/']">Submit</button>
        -->

        
        
