// .table{
//     width:100%;
//     // border-collapse: collapse;
//     border:1px;
//     box-shadow: 10px;
// }
// .table thead th{
//     margin:0%;
//     border: 1px;
//     background-color:darkgrey;
//     color:white;
//     letter-spacing: 0.25%;
//     opacity: 1;
//     padding: 1px;
//     vertical-align: top;
//     border: 1px solid;
//     }
//  .table tbody tr td{
//     font-size: 15px;
//     letter-spacing: 0.25%;
//     font-weight: normal;
//     padding: 1px;
//     text-align: center;
//     border: 10px solid#dee2e685;
//  }    
.div{
    margin: 0;
    padding: 0;
}
table thead{
    margin: 0;
    padding: 10px;
    justify-content: left;
    align-items: center;
     background-color:darkgrey;
    color:white;
}
 .table tbody tr:nth-of-type(even){
    background-color:honeydew;
}


 @media print{
    button{
        display: none;
    }
 }