<div style="float:right">
<button type="button" class="" (click)="print()"><i class="fa fa-print" aria-hidden="true"></i>
  Printpage</button>
</div>
<!-- <div class="container">
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
</div> -->
<div class="" style="text-align:center;color:grey">
    <h2>InvoiceYear2022</h2>
   <td><h4><strong>Block:</strong>{{items.invoice.block}}</h4></td>
   <td><h4><strong>Flat:</strong>{{items.invoice.flat}}</h4></td>
   <td><h4><strong>Name:</strong>{{items.invoice.name}}</h4></td>
    </div>
    <td><h4><strong>TotalMainBalance:</strong>{{items.invoice.totalbalance}}</h4></td>
    <table class="table table-bordered">
      <thead>
              <th>Invoicedate</th>
              <th>InvoiceNo</th>
              <th>Amount</th>
              <th>InvoiceDescription</th>
              <th>Due</th>
              <th>Status</th>
              <th>ViewInvoice</th>
      </thead>
      <tbody>
  <tr>
    <td>{{items.invoice.january.date}}</td>
    <td>{{items.invoice.january.invoiceno}}</td>
    <td>{{items.invoice.january.amount}}</td>
    <td>{{items.invoice.january.invoicedes}}</td>
    <td>{{items.invoice.january.due}}</td>
     <td> {{items.invoice.january.status}}</td> 
     <td>
      <a class="fa fa-user icon text-success" [routerLink]="['/appartment1/viewinvoice']"
      *ngIf="items.invoice.january.status=='Paid'">Viewreciept</a> 
      <i class="fa fa-user icon text-danger"
      *ngIf="items.invoice.january.status=='Unpaid'">Noreciept</i> 
      </td> 
  </tr>
      <tr>
        <td>{{items.invoice.february.date}}</td>
        <td>{{items.invoice.february.invoiceno}}</td>
        <td>{{items.invoice.february.amount}}</td>
        <td>{{items.invoice.february.invoicedes}}</td>
        <td>{{items.invoice.february.due}}</td>
        <td> {{items.invoice.february.status}}</td>
         <td>
          <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice']"
          *ngIf="items.invoice.february.status=='Paid'">Viewreciept</a> 
          <i class="fa fa-user icon text-danger"
          *ngIf="items.invoice.february.status=='Unpaid'">Noreciept</i> 
          </td> 
         </tr> 
         <tr>
          <td>{{items.invoice.march.date}}</td>
          <td>{{items.invoice.march.invoiceno}}</td>
          <td>{{items.invoice.march.amount}}</td>
          <td>{{items.invoice.march.invoicedes}}</td>
          <td>{{items.invoice.march.due}}</td>
          <td> {{items.invoice.march.status}}</td>
          <td>
            <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice'+items.id]"
            *ngIf="items.invoice.march.status=='Paid'">Viewreciept</a> 
            <i class="fa fa-user icon text-danger"
            *ngIf="items.invoice.march.status=='Unpaid'">Noreciept</i> 
            </td>
           </tr>
    
           <tr>
            <td>{{items.invoice.april.date}}</td>
            <td>{{items.invoice.april.invoiceno}}</td>
            <td>{{items.invoice.april.amount}}</td>
            <td>{{items.invoice.april.invoicedes}}</td>
            <td>{{items.invoice.april.due}}</td>
            <td> {{items.invoice.april.status}}</td>
            <td>
              <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice'+items.id]"
              *ngIf="items.invoice.april.status=='Paid'">Viewreciept</a> 
              <i class="fa fa-user icon text-danger"
              *ngIf="items.invoice.april.status=='Unpaid'">Noreciept</i> 
              </td>
             </tr>
             <tr>
              <td>{{items.invoice.may.date}}</td>
              <td>{{items.invoice.may.invoiceno}}</td>
              <td>{{items.invoice.may.amount}}</td>
              <td>{{items.invoice.may.invoicedes}}</td>
              <td>{{items.invoice.may.due}}</td>
              <td> {{items.invoice.may.status}}</td>
              <td>
                <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice'+items.id]"
                *ngIf="items.invoice.may.status=='Paid'">Viewreciept</a>
                <i class="fa fa-user icon text-danger"
                *ngIf="items.invoice.may.status=='Unpaid'">Noreciept</i> 
                </td>
               </tr>
               <tr>
                <td>{{items.invoice.june.date}}</td>
                <td>{{items.invoice.june.invoiceno}}</td>
                <td>{{items.invoice.june.amount}}</td>
                <td>{{items.invoice.june.invoicedes}}</td>
                <td>{{items.invoice.june.due}}</td>
                <td> {{items.invoice.june.status}}</td>
                <td>
                  <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice']"
                  *ngIf="items.invoice.june.status=='Paid'">Viewreciept</a> 
                  <i class="fa fa-user icon text-danger"
                  *ngIf="items.invoice.june.status=='Unpaid'">Noreciept</i> 
                  </td>
                 </tr>
                 <tr>
                  <td>{{items.invoice.july.date}}</td>
                  <td>{{items.invoice.july.invoiceno}}</td>
                  <td>{{items.invoice.july.amount}}</td>
                  <td>{{items.invoice.july.invoicedes}}</td>
                  <td>{{items.invoice.july.due}}</td>
                  <td> {{items.invoice.july.status}}</td>
                  <td>
                    <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice']"
                    *ngIf="items.invoice.july.status=='Paid'">Viewreciept</a> 
                    <i class="fa fa-user icon text-danger"
                    *ngIf="items.invoice.july.status=='Unpaid'">Noreciept</i> 
                    </td>
                   </tr>
                   <tr>
                    <td>{{items.invoice.auguest.date}}</td>
                    <td>{{items.invoice.auguest.invoiceno}}</td>
                    <td>{{items.invoice.auguest.amount}}</td>
                    <td>{{items.invoice.auguest.invoicedes}}</td>
                    <td>{{items.invoice.auguest.due}}</td>
                    <td> {{items.invoice.auguest.status}}</td>
                    <td>
                      <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice']"
                      *ngIf="items.invoice.auguest.status=='Paid'">Viewreciept</a> 
                      <i class="fa fa-user icon text-danger"
                      *ngIf="items.invoice.auguest.status=='Unpaid'">Noreciept</i> 
                      </td>
                     </tr>
                     <tr>
                      <td>{{items.invoice.september.date}}</td>
                      <td>{{items.invoice.september.invoiceno}}</td>
                      <td>{{items.invoice.september.amount}}</td>
                      <td>{{items.invoice.september.invoicedes}}</td>
                      <td>{{items.invoice.september.due}}</td>
                      <td> {{items.invoice.september.status}}</td>
                      <td>
                      <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice']"
                     *ngIf="items.invoice.september.status=='Paid'">Viewreciepte</a>
                        <i class="fa fa-user icon text-danger"
                        *ngIf="items.invoice.september.status=='Unpaid'">Noreciepte</i> 
                        </td>
                       </tr>
                       <tr>
                        <td>{{items.invoice.october.date}}</td>
                        <td>{{items.invoice.october.invoiceno}}</td>
                        <td>{{items.invoice.october.amount}}</td>
                        <td>{{items.invoice.october.invoicedes}}</td>
                        <td>{{items.invoice.october.due}}</td>
                        <td> {{items.invoice.october.status}}</td>
                        <td>
                          <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice']"
                          *ngIf="items.invoice.october.status=='Paid'">Viewreciept</a> 
                          <i class="fa fa-user icon text-danger"
                          *ngIf="items.invoice.october.status=='Unpaid'">Noreciept</i> 
                          </td>
                         </tr>
                         <tr>
                         <td>{{items.invoice.november.date}}</td>
                        <td>{{items.invoice.november.invoiceno}}</td>
                        <td>{{items.invoice.november.amount}}</td>
                        <td>{{items.invoice.november.invoicedes}}</td>
                        <td>{{items.invoice.november.due}}</td>
                        <td> {{items.invoice.november.status}}</td>
                        <td>
                          <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice'+items.id]"
                          *ngIf="items.invoice.november.status=='Paid'">Viewreciept</a> 
                          <i class="fa fa-user icon text-danger"
                          *ngIf="items.invoice.november.status=='Unpaid'">Noreciept</i> 
                          </td>
                         </tr>
                         <tr>
                         <td>{{items.invoice.december.date}}</td>
                        <td>{{items.invoice.december.invoiceno}}</td>
                        <td>{{items.invoice.december.amount}}</td>
                        <td>{{items.invoice.december.invoicedes}}</td>
                        <td>{{items.invoice.december.due}}</td>
                        <td> {{items.invoice.december.status}}</td>
                        <td>
                           <a class="fa fa-user icon text-success"[routerLink]="['/appartment1/viewinvoice'+items.id]"
                          *ngIf="items.invoice.december.status=='Paid'">Viewreciept</a> 
                          <i class="fa fa-user icon text-danger"
                          *ngIf="items.invoice.december.status=='Unpaid'">Noreciept</i> 
                          </td>
                         </tr>
                        
      </tbody>
     </table>
     <!-- <td><button type="button"class="btn btn-outline-warning btn-sm"[routerLink]="['/appartment1/invoice-list']">ViewReciept </button></td>&nbsp;&nbsp; -->
     
     <td> <button type="button"class="btn btn-outline-success btn-sm"routerLink="/appartment1/invoice-list">ViewInvoice</button></td>
            
    
    
